.teams-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.team-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.cart-container {
  background-color: rgba(15, 42, 161, 0.349);
  height: 200px;
  margin-left: 20px;
  border-radius: 10px;
  text-align: left;
  padding-left: 20px;
  /* position: fixed; */
}
